.img{
    height: 180px;
     width: 370px; 
}

  .cards {
    max-width: 1200px;
    margin: 0;
    display: grid;
    grid-gap: 0.5rem;

  }
  @media (min-width: 600px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
  }
  @media (min-width: 900px) {
    .cards { grid-template-columns: repeat(4, 1fr); }
  }